#projects {
  background-color: #fff;
  color: #389fc5;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer__col--intro {
  clear: none;
  border-bottom: 0;
  margin-bottom: 0;
  min-width: auto;
  padding-bottom: 60px;
}
