#projects {
  background-color: #fff;
  color: #389fc5;
}
@media screen and (max-width: 768px) {
  #projects {
    text-align: center;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.footer__col--intro {
  clear: none;
  border-bottom: 0;
  margin-bottom: 0;
  min-width: auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .Tilt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-right: 8rem;
  }
}

.col-xl-12 > .react-reveal {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.col-xl-4 {
  padding-bottom: 2rem;
}
